@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width: 650px){

    body{
        width: 100vw;
        padding: 60px 18px 18px;
        text-align: center;
        background-image: url(./assets/BG-BETINFOPrancheta-1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    #bar{
        width: 70vw;
    }

    #logo{
        width: 100px;
        /* border-radius: 50%; */   
        /* padding: 15px; */
        box-shadow: black 1px;
    }
    
h2{
    font-size: 21px;
    color: #ff0071;
    font-weight:500;
    margin: 20px 0 10px 0;
}
h1{
    width: 35vw;
    font-size: 28px;
    padding: 10px;
    margin: 50px auto 60px auto;
    color: #fff;
    font-weight: 500;
    border-block: aliceblue 2px solid;
    text-align: center;
    border-image:
        linear-gradient(to right, #ff2b8200, #ff0071, #f22b8200) 1;
}


h3{
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
    padding-inline: 10px;
}
h3 span{
    color: #ff0071;
    font-weight: 600;
}

h5{
    color: #fff;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
}

.option h3{
    margin: 0;
}
.option button{

    width: 35%;
    height: 35px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    padding-inline: 3px;
    color: #ff0071;
}
.option button:hover{
    color: #fff;
    background-color: #ff0071;
}
.option {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.etapa{
    border: #fff 2px solid;
    border-radius: 5px;
    width: 75vw;
    margin: 40px auto;
    box-shadow: -5px 3px 5px black;
    backdrop-filter: blur(150px);
}

.hide-me{
    display: none;
}
.show-me{
    display: block;
}

    
}